.cartPopupButtons {
	text-align: center;
	float: left;
	margin-top: 0.7em;
}

.cartPopupButtons .orPadding {
	padding: 7px 0;
}

li.paymentMethodLeft {
	float: left;
}

li.paymentMethodRight {
	float: right;
	margin-left: 10px;
}

#checkoutContentPanelPayment {
	border: 1px dotted #A5A5A5;
	padding: 10px 10px 10px 10px;
	position: relative;
	margin: 0 0 10px 0;
}

#checkoutContentPanel {
	margin: 0 0 10px 0;
	padding: 12px 20px;
}

#headlineDiv .headline {
	border-bottom: 1px #A5A5A5;
	font-size: 1.2em;
	font-weight: bold;
	height: 39px;
	line-height: 39px;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}

#checkoutContentPanel.payWithCardSection {
	margin: 0;
}

.payPalBanner {
	text-align: center;
	margin-top: 5px;
}

button.doCheckoutBut.noMarginTop {
	margin-top: 0;
}

.orSeparator {
 	display: inline-block;
 	padding: 0 15px;
 	margin-top: 8px;
 	vertical-align: top;
 }

 .checkButton{
 	vertical-align: top;
 	display: inline-block;
 }

.cartButtonsSection {
	margin-top: 8px;
}

.center {
	text-align: center;
}

.payPalCredit {
	display: inline-block;
}

.payPalCredit .imgPadding {
	padding-top: 5px;
}

#paymentMethodPayPal {
	margin-top: 16px;
}

.easyPaymentsValue{
    padding-left: 5px;
}

